---
---
@import "bootstrap/bootstrap";
// @import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local('Quicksand Regular'), local('Quicksand-Regular'), url('/style/font.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

.btn.btn-primary.collapsed {
  background-color: theme-color("secondary");
}

body {
  font-family: 'Quicksand', sans-serif;
}

img.org-logo {
  width: 20px;
}

.bg-alphablack {
  background-color: rgba(0,0,0,0.8);
}

div.card-img-top {
  height: 10em;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#carouselFeatured {
  position: fixed;
  top: 0;
  z-index: -1;

  .carousel-inner {
    height: 100%;
  }

  .carousel-item {
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

$series-max-width: 1326px;
.series-wrapper {
  width: 100%;

  .series {
    @media (max-width: $series-max-width) {
      display: none;
    }

    iframe {
      width: 100%;
      min-height: 600px;
    }

    a {
      width: 100%;
      &.top {
        position: absolute;
        min-height: 80px;
      }
      &.bottom {
        position: relative;
        display: block;
        min-height: 80px;
        margin-top: -80px;
      }
    }
  }

  .series-link {
    @media (min-width: $series-max-width + 1px) {
      display: none;
    }

    iframe {
      width: 100%;
      min-height: 400px;
    }

    a {
      position: absolute;
      min-height: 200px;
    }
  }

}

.video-wrapper {
  width: 100%;

  .figure-img {
    position: relative;

    img {
      display: block;
      height: auto;
      width: 100%;
    }

    iframe {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}

.post {
  img {
    max-width: 100%;
  }
  iframe {
    max-width: 100%;
  }

  code {
    white-space: initial;
  }

  blockquote {
    margin-left: 1em !important;
  }
}

.story {
  position: absolute;
  bottom: 1em;
  top: 3.5rem;
  left: 0;
  right: 0;

  .card {
    height: 75vh;
    overflow: scroll;
  }

  .carousel-control-next {
    right: -9%;
    .carousel-control-next-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    }
  }

  .carousel-control-prev {
    left: -8%;
    .carousel-control-prev-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    }
  }

  .carousel-indicators {
    bottom: -45px;
    li {
      width: 18px;
      height: 18px;

      &.email {
        text-indent: 0;
        text-align: center;
        font-size: 18px;
        background-color: white;
        border-radius: 0;
        top: -4px;
        color: rgba(0,0,0,0.5);
        &.active {
          color: #000;
        }
      }

      &.page {
        background-color: rgba(0,0,0,0.5);
        border-radius: 9px;

        &.active {
          background-color: #000;
        }
      }
    }
  }

  .link {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}
