<div class="card">
<form class="form card-body"
  action="https://getsimpleform.com/messages?form_api_token=74d3ef7c011705a088d446e29a329297"
  method="post">
  <input type='hidden' name='redirect_to'
    value='http://pdyxs.wtf/contact-submitted.html' />
  <div class="form-group">
    <label for="contact-email-input">Your Email</label>
    <input type="email" name="email" class="form-control" id="contact-email-input" placeholder="email@example.com">
  </div>
  <div class="form-group">
    <label for="contact-message-input">Your Message</label>
    <textarea name="content" class="form-control" id="contact-message-input">
    </textarea>
  </div>
  <input id="question-form-submit" type="submit"
    class="btn btn-primary"
    value="Send" />
</form>
</div>
