<div class="card">
<form class="form card-body" action="#"
  onsubmit="doSubmitContactForm(this); return false">
  <div class="form-group">
    <label for="contact-email-input">Your Email</label>
    <input type="email" name="email" class="form-control" id="contact-email-input" placeholder="email@example.com">
  </div>
  <div class="form-group">
    <label for="contact-message-input">Your Message</label>
    <textarea name="content" class="form-control" id="contact-message-input">
    </textarea>
  </div>
  <input id="question-form-submit" type="submit"
    class="btn btn-primary"
    value="Send" />
</form>
</div>

<script>
  function doSubmitContactForm(form) {
    var data = new FormData(form);
    xhr = new XMLHttpRequest();
    var url = "https://discordapp.com/api/webhooks/762818216338653184/Fk_8oiiK2Gbr9xGOuVittd58zRZ485Wri8DnnZsRDdA4_6sKfVp2Swm7B_Lcwy4CpvEw";
    xhr.open("POST", url, true);
    xhr.setRequestHeader("Content-type", "application/json");
    var data = JSON.stringify({
      content: "Message from " + data.get("email"),
      "embeds": [
        {
          "description": data.get("content"),
          "color": 7506394
        }
      ]
    });
    xhr.send(data);

    setTimeout(function() {
      window.location.href = "http://pdyxs.wtf/contact-submitted.html";
    }, 500);
  }
</script>
