<nav class="navbar navbar-expand-sm navbar-dark bg-alphablack">
  <a class="navbar-brand" href="/">PDYXS.wtf</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      {% for link in site.data.nav.links %}
      {% assign coll = site.collections | where: "label", link.w | first %}
      {% assign questions = coll.docs | sort: 'priority' | reverse %}
      <li class="nav-item dropdown btn-group
      {% if page.url contains link.w %}
        active
      {% endif %}">
        <a class="nav-link pr-0" href="/{{link.w}}">{{link.text | downcase}}</a>
        <a class="d-none d-md-inline nav-link dropdown-toggle dropdown-toggle-split"
            id="navbar-{{link.w}}-dropdown"
            data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false" href="#"></a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbar-{{link.w}}-dropdown">
          {% for question in questions %}
            <a class="dropdown-item" href="/{{link.w}}#{{question.title | slugify}}">{{question.title}}</a>
          {% endfor %}
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</nav>
