---
title: Stars
layout: basic
sitemap: false
---
<link rel="stylesheet" href="/style/stars.css">
<script src="/js/d3/d3.v5.min.js"></script>
<div class="row text-center">
  <div class="card mx-auto bg-dark mb-4">
    <div class="card-body">
      <svg viewBox="-100 -100 200 200" id="galaxy">
      </svg>
    </div>
    <div class="card-footer bg-light">
      <div class="text-right">Showing <span id="starCount"></span> star systems</div>
      <h4 class="card-title">Basic Options</h4>
      <div>
        <label for="maxDistRange">Maximum Distance (light years)</label>
        <div class="row">
          <div class="col-md-10">
            <input type="range" min="0" max="21" id="maxDistRange" class="custom-range" value="10" />
          </div>
          <div class="col-md-2">
            <input type="number" min="0" max="21" id="maxDistInput" class="form-control" value="10" />
          </div>
        </div>
      </div>
      <div class="btn-group" role="group" id="distributionButtons">
      </div>
    </div>
    <div class="card-footer bg-light">
      <h4 class="card-title">Simulation Options</h4>
      <div class="form-group text-left">
        <label for="minStarSeparation">Extra Minimum Separation between stars</label>
        <input type="number" min="0" max="10" value="0.5" class="form-control" id="minStarSeparation" />
      </div>
      <div class="row text-left">
        <div class="col-md-6">
          <h5 class="card-subtitle">Sun Force Strengths</h5>
          <div class="form-group">
            <label for="sunRadial">Keep at (0,0)</label>
            <input type="number" min="0" max="10" value="1" class="form-control" id="sunRadial" />
          </div>
          <div class="form-group">
            <label for="sunDistance">Distance to other stars</label>
            <input type="number" min="0" max="1000" value="100" class="form-control" id="sunDistance" />
          </div>
        </div>
        <div class="col-md-6">
          <h5 class="card-subtitle">Other Star Force Strengths</h5>
          <div class="form-group">
            <label for="starRadial">Distance from Centre</label>
            <input type="number" min="0" max="10" value="0" class="form-control" id="starRadial" />
          </div>
          <div class="form-group">
            <label for="starDistance">Distance to other stars</label>
            <input type="number" min="0" max="100" value="1" class="form-control" id="starDistance" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
const allsystems = {% include stars/systems.json %};
</script>
<script>
const allstars = {% include stars/stars.json %};
</script>
<script>
function bv_to_rgb(bv) {
  var t = 4600 * ((1 / ((0.92 * bv) + 1.7)) +(1 / ((0.92 * bv) + 0.62)) )

  // t to xyY
  var x, y = 0

  if (t >= 1667 & t <= 4000) {
    x = ((-0.2661239 * Math.pow(10,9)) / Math.pow(t,3)) + ((-0.2343580 * Math.pow(10,6)) / Math.pow(t,2)) + ((0.8776956 * Math.pow(10,3)) / t) + 0.179910
  } else if (t > 4000) {
    x = ((-3.0258469 * Math.pow(10,9)) / Math.pow(t,3)) + ((2.1070379 * Math.pow(10,6)) / Math.pow(t,2)) + ((0.2226347 * Math.pow(10,3)) / t) + 0.240390
  }

  if (t >= 1667 & t <= 2222) {
    y = -1.1063814 * Math.pow(x,3) - 1.34811020 * Math.pow(x,2) + 2.18555832 * x - 0.20219683
  } else if (t > 2222 & t <= 4000) {
    y = -0.9549476 * Math.pow(x,3) - 1.37418593 * Math.pow(x,2) + 2.09137015 * x - 0.16748867
  } else if (t > 4000) {
    y = 3.0817580 * Math.pow(x,3) - 5.87338670 * Math.pow(x,2) + 3.75112997 * x - 0.37001483
  }

  // xyY to XYZ, Y = 1
  var Y = 1.0
  var X = (y == 0)? 0 : (x * Y) / y
  var Z = (y == 0)? 0 : ((1 - x - y) * Y) / y

  //XYZ to rgb
  /*var r = 0.41847 * X - 0.15866 * Y - 0.082835 * Z
  var g = -0.091169 * X + 0.25243 * Y + 0.015708 * Z
  var b = 0.00092090 * X - 0.0025498 * Y + 0.17860 * Z*/

  //XYZ to rgb
  var r = 3.2406 * X - 1.5372 * Y - 0.4986 * Z
  var g = -0.9689 * X + 1.8758 * Y + 0.0415 * Z
  var b = 0.0557 * X - 0.2040 * Y + 1.0570 * Z

  //linear RGB to sRGB
  var R = (r <= 0.0031308)? 12.92*r : 1.055*Math.pow(r,1/0.5)-0.055
  var G = (g <= 0.0031308)? 12.92*g : 1.055*Math.pow(g,1/0.5)-0.055
  var B = (b <= 0.0031308)? 12.92*b : 1.055*Math.pow(b,1/0.5)-0.055

  return {r:Math.round(R*255),g:Math.round(G*255),b:Math.round(B*255)};
}

var simulation = null;

var distributions = [
  {
    id: 'distance',
    name: 'Preserve Distance',
    tooltip: 'Project each star in the correct direction, preserve distance to the sun',
    p: (s) => [s.px, s.py],
    d: d => d,
    ud: d => d,
    post: (systems) => {
      var maxDistance = Number(maxDistInput.property('value'));
      starGroup.selectAll("circle").data(systems).transition()
        .duration(500)
        .attr('cx', function(d) { return distribution.p(d)[0] * (100 / maxDistance); })
        .attr('cy', function(d) { return distribution.p(d)[1] * (100 / maxDistance); })
    }
  },
  {
    id: 'distributed',
    name: 'Distributed',
    tooltip: `Tweak the distance of each star so that stars don't clump at the edges`,
    p: (s) => {
      var d = Math.pow(s.px*s.px + s.py*s.py,0.25);
      return [s.px * d, s.py * d];
    },
    d: d => Math.pow(d, 1.5),
    ud: d => Math.pow(d, 2.0/3),
    post: (systems) => {
      var maxDistance = Number(maxDistInput.property('value'));
      starGroup.selectAll("circle").data(systems).transition()
        .duration(500)
        .attr('cx', function(d) { return distribution.p(d)[0] * (100 / maxDistance); })
        .attr('cy', function(d) { return distribution.p(d)[1] * (100 / maxDistance); })
    }
  },
  {
    id: 'simulated',
    name: 'Simulated',
    tooltip: `Run a simulation to balance various factors`,
    p: (s) => [s.px, s.py],
    d: d => d,
    ud: d => d,
    end: () => {
      simulation.stop();
      maxDistInput.attr('disabled', null);
      maxDistRange.attr('disabled', null);
    },
    post: (systems) => {
      maxDistInput.attr('disabled', true);
      maxDistRange.attr('disabled', true);
      var maxDistance = Number(maxDistInput.property('value'));

      for (var i = 0; i != systems.length; ++i) {
        systems[i].x = distribution.p(systems[i])[0] * (100 / maxDistance);
        systems[i].y = distribution.p(systems[i])[1] * (100 / maxDistance);
      }
      starGroup.selectAll("circle").data(systems)
        .attr('cx', d => d.x)
        .attr('cy', d => d.y)

      var links = systems.reduce((ret, system, sindex) => {
        for (var i = sindex + 1; i != systems.length; ++i) {
          var s2 = systems[i];
          var sqd = [system.ax - s2.ax, system.ay - s2.ay, system.az - s2.az];
          sqd = sqd[0]*sqd[0] + sqd[1]*sqd[1] + sqd[2]*sqd[2];
          if (system.id == 0) {
            ret.push({
              source: sindex,
              target: i,
              distance: Math.sqrt(sqd) * (100 / maxDistance),
              strength: Number(d3.select('#sunDistance').property('value'))
            });
          } else
          // if (sqd < 10)
          {
            ret.push({
              source: sindex,
              target: i,
              distance: Math.sqrt(sqd) * (100 / maxDistance),
              strength: Number(d3.select('#starDistance').property('value'))
            });
          }
        }
        return ret;
      }, []);

      simulation =
        d3.forceSimulation(systems)
          .force('link',
            d3.forceLink().links(links)
              .distance((l) => l.distance)
              .strength(l => l.strength / (systems.length - 1))
          )
          .force('radial',
            d3.forceRadial(d => Math.sqrt(d.px*d.px + d.py*d.py))
              .strength(d =>
                (d.id == 0 ?
                  Number(d3.select('#sunRadial').property('value')) :
                  Number(d3.select('#starRadial').property('value'))))
          )
          .force('collide',
            d3.forceCollide(d => d.size + Number(d3.select('#minStarSeparation').property('value')))
          )
          .on('tick', () => {
            starGroup.selectAll("circle").data(systems)
              .attr('cx', d => d.x)
              .attr('cy', d => d.y);
        });
    }
  }
];

function isWithinDistance(p, s, d) {
  var pos = p.p(s);
  return (pos[0]*pos[0] + pos[1]*pos[1]) < (d*d);
}

var svg = d3.select("#galaxy");
var distribution = distributions[0];
var starGroup = svg.append("g").attr("class", "stars");
var starCount = d3.select("#starCount");

for (var i = 0; i != allstars.length; ++i) {
  var star = allstars[i];
  star.colour = bv_to_rgb(star.colourIndex);
}

for (var i = 0; i != allsystems.length; ++i) {
  var system = allsystems[i];
  system.stars = allstars.filter(s => s.system == system.id);
  system.luminosity = system.stars.map(s => s.luminosity).reduce((a,v) => a+v, 0);
  system.size = Math.log(system.luminosity + 2);
  system.brightestStar = system.stars[0];
  for (var j = 1; j != system.stars.length; ++j) {
    if (system.stars[j].luminosity > system.brightestStar.luminosity) {
      system.brightestStar = system.stars[j];
    }
  }
  system.colour = system.brightestStar.colour;
}

function update() {
  var maxDistance = Number(maxDistInput.property('value'));
  var systems = allsystems.filter((s) => isWithinDistance(distribution, s, maxDistance));
  starCount.html(`${systems.length}`);

  var circles = starGroup.selectAll("circle")
                  .data(systems);
  circles.exit().transition().duration(500).attr("r", 0).remove();
  circles.enter()
    .append("circle")
      .attr("class", "star")
      .attr("id", function(d) { return `star-${d.id}`; })
      .attr('cx', function(d) { return distribution.p(d)[0] * (100 / maxDistance); })
      .attr('cy', function(d) { return distribution.p(d)[1] * (100 / maxDistance); })
      .attr('r', 0)
      .attr('data-toggle', 'tooltip')
      .attr('data-placement', 'top')
      .attr('title', system => {
        var stars = allstars.filter(s => s.system == system.id);
        var namedStars = stars.filter(s => s.name != '').map(s => s.name).join(',');
        if (namedStars.length > 0) {
          namedStars = ` (${namedStars})`;
        }
        return `${stars.length} star${stars.length > 1 ? 's' : ''}${namedStars}`;
      })
      .attr('fill', d => `rgb(${d.colour.r}, ${d.colour.g}, ${d.colour.b})`)
      // .transition().duration(500)
      .attr('r', d => d.size);

// data-toggle="tooltip" data-placement="top" title="Tooltip on top"

  // console.log(maxDistance);

  if (distribution.post) {
    distribution.post(systems);
  }

  $('[data-toggle="tooltip"]').tooltip()
}

function updateDist(dist) {
  maxDistInput.property('value', dist);
  maxDistRange.property('value', dist);
  update();
}

var maxDistInput = d3.select("#maxDistInput");
var maxDistRange = d3.select("#maxDistRange");
maxDistInput.on('input', () => updateDist(maxDistInput.property('value')));
maxDistRange.on('input', () => updateDist(maxDistRange.property('value')));
update();

var dbuttons = d3.select("#distributionButtons");
dbuttons.selectAll("button").data(distributions).enter()
  .append('button')
    .attr('type', 'button')
    .attr('class', (d) => `btn btn-${(d == distribution ? 'primary' : 'secondary')}`)
    .attr('data-toggle', 'tooltip')
    .attr('data-placement', 'bottom')
    .attr('title', d => d.tooltip)
    .html(d => d.name)
    .on('click', (nd) => {
      var dist = Number(maxDistInput.property('value'));
      dist = nd.d(distribution.ud(dist));
      if (distribution != nd) {
        if (distribution.end) {
          distribution.end();
        }
        distribution = nd;
        dbuttons.selectAll("button").data(distributions)
          .attr('class', (d) => `btn btn-${(d == distribution ? 'primary' : 'secondary')}`);
        updateDist(dist);
      }
    })
</script>
