{% include header.html %}
{% include nav_blank.html %}

<div class="container mt-4">
  <div class="text-center">
    <h1 class="mb-0">Paul Sztajer</h1>
    <p class="lead mb-0">Interactive Artist</p>
    <p class="lead">Design and Technology Consultant</p>
    <p>I bring together expertise in technological and creative fields to solve a wide range of problems.</p>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="card m-3">
        <div class="card-body py-3">
          <h5 class="card-title text-center mb-0">Art</h5>
        </div>
        <img src="/pastprojects/the-neighbourhood/gallery/the_neighbourhood_2500x1250.jpg" class="card-img rounded-0">
        <div class="card-body">I create games and artworks that use human-scale concepts to explore the complexity of the universe</div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card m-3">
        <div class="card-body">
          <h5 class="card-title text-center">Design</h5>
        </div>
        <div class="card-body">I build apps that approach everyday life with empathy and kindness, using minimalistic design to bring value and change</div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card m-3">
        <div class="card-body">
          <h5 class="card-title text-center">Consulting</h5>
        </div>
        <div class="card-body">I help companies design and develop human-facing systems, specialising in using interactivity to motivate and teach users</div>
      </div>
    </div>
  </div>
</div>

{{content}}

{% include footer.html %}
