{% include header.html %}
{% include nav_blank.html %}

{% assign projects = site.pastprojects | sort: 'priority' | reverse %}

<div id="carouselFeatured" class="carousel w-100 h-100 slide" data-ride="carousel">
  <ol class="carousel-indicators">
    {% assign hasFirst = false %}
    {% assign carouselCount = 0 %}
    {% for page in projects %}
      {% if page.feature %}
        <li data-target="#carouselFeatured" data-slide-to="{{carouselCount}}"
          {% if hasFirst == false %}
            {% assign hasFirst = true %}
            class="active"
          {% endif %}></li>
        {% assign carouselCount = carouselCount | plus: 1 %}
      {% endif %}
    {% endfor %}
  </ol>
  <div class="carousel-inner">
    {% assign hasFirst = false %}
    {% for page in projects %}
      {% if page.feature %}
        <div class="carousel-item
          {% if hasFirst == false %}active
            {% assign hasFirst = true %}
          {% endif %}"
          style="background-image: url('/pastprojects/{{page.slug}}/{{page.feature}}.jpg')">
          <div class="rounded bg-alphablack carousel-caption d-none d-md-block">
            <h3><a class="text-light" href="{{page.url}}">{{page.title}}</a></h3>
            <p>{{page.description}}</p>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
  <a class="carousel-control-prev" href="#carouselFeatured" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselFeatured" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

{{content}}

{% include footer.html %}
