{% include header.html %}
{% include nav.html %}
{% assign pages = site.pages | sort: 'url' %}

<div class="story">
  <div class="container pt-2">
    <h1 class="text-center">{{page.title}}</h1>
    <div class="row">
      <div class="col-md-3 col-1"></div>

      <div id="storyCarousel" class="col-md-6 col-10 carousel slide" data-interval="false">
        <ol class="carousel-indicators">
          <li class="page active" data-target="#storyCarousel" data-slide-to="0"></li>
          {% assign i = 1 %}
          {% for place in pages %}
            {% if place.draft != true and place.url contains page.url and place.url != page.url %}
              <li class="page" data-target="#storyCarousel" data-slide-to="{{i}}"></li>
              {% assign i = i | plus: 1 %}
            {% endif %}
          {% endfor %}
          <li class="email" data-target="#storyCarousel" data-slide-to="{{i}}">
            <i class="far fa-envelope-square"></i>
          </li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="card">
              <img class="card-img-top" src="{{page.url}}/image.png" />
              <div class="card-body mh-30">
                {{content}}
              </div>
            </div>
          </div>
          {% assign i = 1 %}
          {% for place in pages %}
            {% if place.draft != true and place.url contains page.url and place.url != page.url %}
              <div class="carousel-item">
                <div class="card">
                  <img class="card-img-top" src="{{place.url}}/image.png" />
                  <div class="card-body mh-30">
                    <a target="{{i}}"><h2 class="d-none">{{place.title}}</h2></a>
                    {{place.content}}
                  </div>
                </div>
              </div>
              {% assign i = i | plus: 1 %}
            {% endif %}
          {% endfor %}
          <div class="carousel-item">
            <div class="card">
              <div class="card-body mh-30">
                <h2>To be continued...</h2>
                To recieve email updates to this story and others, subscribe to my mailing list here.
                <form class="mt-2" style="border:1px solid #ccc;padding:3px;text-align:center;" action="https://tinyletter.com/pdyxs" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/pdyxs', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
                  <p><label for="tlemail">Enter your email address</label></p>
                  <p><input type="text" style="width:140px" name="email" id="tlemail" /></p>
                  <input type="hidden" value="1" name="embed"/><input type="submit" value="Subscribe" />
                  <p><a href="https://tinyletter.com" target="_blank">powered by TinyLetter</a></p>
                </form>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#storyCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#storyCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

    </div>
  </div>
</div>

<script>
function r(f){/in/.test(document.readyState)?setTimeout('r('+f+')',9):f()}
// use like
r(function(){
  var number = parseInt(window.location.hash.substring(1));
  if (number !== NaN && number > 0) {
    $("#storyCarousel").carousel(number);
  } else if (window.location.hash === '#end') {
    $("#storyCarousel").carousel({{i}});
  }

  $('#storyCarousel').on('slide.bs.carousel', function (e) {
    if (e.to === {{i}}) {
      window.location.hash = '#end';
    } else {
      window.location.hash = '#' + e.to;
    }
  });
});
</script>

{% include footer.html %}
