{% include header.html %}
{% include nav.html %}

{% assign coll = site.collections | where: "label", page.collection | first %}
{% assign collection = coll.docs | sort: 'url' %}

<div class="story">
  <div class="container pt-2">
    <h1 class="text-center">{{page.title}}</h1>
    <div class="row">
      <div class="col-lg-3 col-md-2 col-1"></div>

      <div id="storyCarousel" class="col-lg-6 col-md-8 col-10 carousel slide" data-interval="false">
        <ol class="carousel-indicators">
          {% assign i = 0 %}
          {% for place in collection %}
            {% if place.draft != true %}
              <li class="page" id="indicator-{{i}}" data-target="#storyCarousel" data-slide-to="{{i}}"></li>
              {% assign i = i | plus: 1 %}
            {% endif %}
          {% endfor %}
          <li class="email" data-target="#storyCarousel" data-slide-to="{{i}}">
            <i class="far fa-envelope-square"></i>
          </li>
        </ol>
        <div class="carousel-inner">
          {% assign i = 0 %}
          {% for place in collection %}
            {% if place.draft != true %}
              <div id="item-{{i}}" class="carousel-item">
                <a target="{{i}}"></a>
                {{place.output}}
                {% assign i = i | plus: 1 %}
              </div>
            {% endif %}
          {% endfor %}
          <div class="carousel-item">
            <div class="card">
              <div class="card-body mh-30">
                <h2>To be continued...</h2>
                To recieve email updates to this story and others, subscribe to my mailing list here.
                {% include mailing-list.html %}
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#storyCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#storyCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

    </div>
  </div>
</div>

<script>
function r(f){/in/.test(document.readyState)?setTimeout('r('+f+')',9):f()}
// use like
r(function(){
  var number = parseInt(window.location.hash.substring(1));
  if (number !== NaN && number > 0) {
    // $("#storyCarousel").carousel(number);
  } else if (window.location.hash === '#end') {
    number = {{i}};
    // $("#storyCarousel").carousel({{i}});
  } else {
    number = 0;
  }
  $("#item-" + number).addClass("active");
  $("#indicator-" + number).addClass("active");

  $('#storyCarousel').on('slide.bs.carousel', function (e) {
    if (e.to === {{i}}) {
      window.location.hash = '#end';
    } else {
      window.location.hash = '#' + e.to;
    }
  });
});
</script>

{% include footer.html %}
