{% include header.html %}
{% include nav.html %}

{% assign coll = site.collections | where: "label", page.w | first %}
{% assign pages = coll.docs | sort: 'priority' | reverse %}

<div class="container mt-2" id="{{page.w}}">
  <div class="row text-center questions">
    <div class="mx-auto d-none d-md-block">
    {% for place in pages %}
      <div class="btn-group mt-1" role="group">
        <button type="button" disabled class="btn btn-outline-secondary">
          {{page.title}}
        </button>
        <button type="button"
          id="{{place.title|slugify}}-button"
          class="btn btn-primary collapsed"
          type="button" data-toggle="collapse"
          data-target="#{{place.title|slugify}}"
          aria-expanded="true"
          aria-controls="{{place.title|slugify}}">
          {{place.title}}
        </button>
      </div>
    {% endfor %}
    </div>

    <div class="mx-auto d-md-none">
      <div class="dropdown">
          <div class="btn-group mt-1" role="group">
            <button type="button" disabled class="btn btn-outline-secondary">
              {{page.title}}
            </button>
            <button class="btn btn-primary dropdown-toggle selected-question"
                type="button" id="{{page.w}}-dropdown" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            </button>
            <div class="dropdown-menu" aria-labelledby="{{page.w}}-dropdown">
            {% for place in pages %}
              <button class="dropdown-item btn btn-link"
                id="{{place.title|slugify}}-dropdown"
                data-toggle="collapse"
                data-target="#{{place.title|slugify}}"
                aria-expanded="true"
                aria-controls="{{place.title|slugify}}"
                href="#">{{place.title}}</button>
            {% endfor %}
            </div>
          </div>
      </div>
    </div>
  </div>

  {% for place in pages %}
      <div id="{{place.title|slugify}}"
        class="answer collapse"
        data-parent="#{{page.w}}">
        <a target="{{place.title|slugify}}">
          {% include title.html title=page.title subtitle=place.title %}
        </a>
        {{ place.output }}
      </div>
  {% endfor %}

  {{content}}
</div>

{% include footer.html %}

<script>
$('#{{page.w}}').on('hide.bs.collapse', function(t) {
  $('#' + t.target.id + '-button').attr('disabled', false);
  $('#' + t.target.id + '-dropdown').attr('disabled', false);
});

$('#{{page.w}}').on('show.bs.collapse', function(t) {
  var button = $('#' + t.target.id + '-button');
  button.attr('disabled', true);
  $('#' + t.target.id + '-dropdown').attr('disabled', true);
  $('#{{page.w}}-dropdown').html(button.html());
  window.location.hash = "#" + t.target.id;
});

var target = $('.answer').first().attr('id');
if (window.location.hash.length > 1 &&
    $(window.location.hash).length == 1) {
  target = window.location.hash.substr(1);
} else {
  window.location.hash = "#" + target;
}
$('#' + target).addClass('show');
var button = $('#' + target + '-button');
button.attr('disabled', true);
button.removeClass('collapsed');
$('#' + target + '-dropdown').attr('disabled', true);
$('#{{page.w}}-dropdown').html(button.html());
</script>
